/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  min-width: 320px;
  max-width: 350px;
  width: 100%;
  background: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root {
  height: 100%;
  width: 100%;
}
.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
